<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si tu utilises un sous-dossier, remplace "/"
  # par "/la-maison-du-print/" dans le RewriteBase.

  # Redirige tout vers index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [L]
</IfModule>
