# Kirby .htaccess
RewriteEngine On
RewriteBase /la-maison-du-print/

# Redirection vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]