.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

:root {
    --gutter-width: 15px;
    --text-color: #181818;
    --text-size: 1.2rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

h1,
h2,
h4,
h5,
h6,
p,
a,
li {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    /* font-weight: normal; */
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h3 a {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: currentColor;
}

h1,
p,
a {
    font-size: var(--text-size);
    margin: 0;
}

/* Start coding here */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    .container_header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--gutter-width);
        padding: 30px 40px 20px 40px;
    }

    .title_header
    .title_footer {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .all_logo {
        grid-column: span 3;
    }

    .logo_header {
        width: 200px;
        height: auto;
    }

    .arrow_header {
        display: none;
    }

    #toggle {
        display: none;
    }

    #toggle:checked+.burger .fas .fa-bars {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #toggle:checked+.burger .close {
        transform: rotate(270deg);
    }

    #toggle:checked~.all_menu {
        height: calc(100vh - 47px);
    }

    .burger {
        position: fixed;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        z-index: 999;
        cursor: pointer;
    }

    .burger div {
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .button_close {
        position: absolute !important;
        font-size: 2.5rem;
    }

    .button_open {
        font-size: 2.5rem;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */ 
    .container_footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-top: 30px;
    }

    .all_footer {
        align-items: center;
        grid-column: 1 / span 12;
        background-color: black;
    }

    .title_footer,
    .mentions_footer {
        color: white;
    }

    .name_footer {
        padding: 20px 40px 0 40px;
    }

    .mentions_footer {
        padding: 20px 40px 30px 40px;
    }

    .name_footer {
        display: flex;
        justify-content: start;
    }

    .mentions_footer {
        display: flex;
        justify-content: start;
    }

    /* -------------------- */
    /* ------ FOOTER ------ */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    /* ------- HEADER ------- */
    /* ---------------------- */

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */

}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    .container {
        padding: 30px 100px 0px 100px;
    }

    .logo_header {
        width: 80px;
        height: auto;
    }

    .all_logo {
        grid-column: span 4;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container_header {
        padding: 40px 80px 20px 80px;
        align-items: center;
    }

    .all_menu {
        grid-column: 6 / span 7;
    }

    .menu {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 50px; 
    }
    
    .menu li {
        list-style: none;
        display: flex; 
        align-items: center;
        height: 50px; 
        border-radius: 20px;
        width: 100%;
        justify-content: center;
        margin-right: 20px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        position: relative; 
        margin: 0;
        padding: 0;
    }
    
    .menu li a {
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
        width: 100%; 
        height: 100%; 
        display: block; 
        text-decoration: none;
        color: black;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    
    .menu li:hover {
        background-color: black;
    }

    .menu li:hover a {
        color: white;
    }

    .menu a {
        position: relative;
    }

    .menu li:last-child {
        margin-right: 0;
    }

    .hover {
        display: flex;
    }

    .hover_other {
        display: flex;
        border-radius: 50px;
    }

    .menu li a {
        font-size: 1.3rem;
        font-weight: 600;
        position: relative;
        transition: transform 0.3s ease-in-out;
        padding: 12px 30px;
        border: 1px solid black;
        border-radius: 20px;
    }

    .menu li a:hover {
        color: white;
        background-color: black;
    }

    .burger {
        display: none;
    }

    label,
    #toggle {
        display: none;
    }


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .container_footer {
        align-items: center;
    }

    .name_footer,
    .mentions_footer {
        padding: 20px 80px 30px 80px;
    }

    .mentions_footer {
        justify-content: end;
    }


    /* ---------------------- */
    /* ------- FOOTER ------- */
    
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    /* ------- HEADER ------- */
    /* ---------------------- */

    .logo {
        grid-column: span 3;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
}