@font-face {
    font-family: 'Inter-Light';
    src: url('/assets/fonts/Inter-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('/assets/fonts/Inter-Italic.woff2') format('woff2'),
        url('/assets/fonts/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter-Semibold';
    src: url('/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

:root {
    --gutter-width: 15px;
    --text-color: #181818;
    --text-size: 1rem;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 100;
}

main {
    display: block;
}

h1 {
    font-size: 1rem;
    font-family: "Inter-Semibold", sans-serif;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Inter-Semibold", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

h3 {
    font-family: "Inter-Semibold", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h3 a {
    font-family: "Inter-Light", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: "Inter-Semibold", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

li,
h5,
h6,
p,
a,
label {
    font-family: "Inter-Light", sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: currentColor;
}

p,
a {
    font-size: var(--text-size);
    margin: 0;
}

.page-enter {
    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::selection {
    background-color:black; 
    color: white; 
}


/* Start coding here */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    .header-wrapper,
    .header-wrapper-home {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 13vh;
        z-index: 999;
        display: flex;
        justify-content: center;
    }

    .header-wrapper {
        background-color: white;
    }

    .header-wrapper-home {
        background-color: transparent;
    }

    .container_header {
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container_header-home {
        width: 100%;
        margin: 0 auto;
        padding: 15px 20px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        gap: 10px;
    }

    .logo h1 {
        display: none;
    }

    .title_header .title_footer {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .logo_header {
        width: 60px;
        height: auto;
    }

    #toggle {
        display: none;
    }

    /* Début menu déroulant */
    .all_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #001f8d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 998;
    }

    .all_menu-home {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #001f8d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 998;
        transition: top 0.5s ease;
    }

    #toggle:checked~.all_menu,
    #toggle:checked~.all_menu-home {
        top: 0;
    }

    .all_menu ul,
    .all_menu-home ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .all_menu li,
    .all_menu-home li {
        margin: 20px 0;
        font-family: "Inter-Semibold", sans-serif;
        font-weight: 600;
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
    }

    .all_menu a, 
    .all_menu-home a {
        display: flex;
        justify-content: center;
    }

    .all_menu a,
    .dropdown>span,
    .all_menu-home a,
    .dropdown>span {
        color: white;
        text-decoration: none;
        font-size: 2.2rem;
    }

    /* Fin menu déroulant */

    .button_open {
        font-size: 2rem;
        cursor: pointer;
    }

    .button_close {
        display: none;
        position: absolute;
        top: 650px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3rem;
        color: white;
        cursor: pointer;
        z-index: 999;
    }

    #toggle:checked~.burger .button_close {
        display: block !important;
    }

    #toggle:checked~.burger .button_open {
        display: none !important;
    }

    #toggle:checked~.burger-home .button_close {
        display: block !important;
    }

    #toggle:checked~.burger-home .button_open {
        display: none !important;
    }

    .language,
    .language-home {
        display: none;
    }

    .title_header {
        display: none;
    }

    .mobile-only,
    .mobile-only-home {
        display: block;
    }

    .image_homepage img {
        display: none;
    }

    @keyframes rotateLogo {
        0% {
            transform: rotate(0deg) scale(1);
        }

        100% {
            transform: rotate(360deg) scale(1);
        }
    }

    .logo_header {
        width: 60px;
        height: auto;
        animation: rotateLogo 1s ease-in-out;
    }

    .logo_homepage {
        animation: rotateLogo 1s ease-in-out;
    }


    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .container_footer {
        background-color: black;
        margin-top: 30px;
    }

    .all_footer {
        display: flex;
        flex-direction: column;
        padding: 5px 20px;
    }

    .title_footer,
    .mentions_footer h3 {
        color: white;
        margin: 0;
    }

    .mentions_footer a {
        position: relative;
        font-weight: 600;
    }

    .mentions_footer a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 0%;
        height: 1px;
        background-color: currentColor;
        transition: width 0.3s ease-in-out;
    }

    .mentions_footer a:hover::after {
        width: 100%;
    }


    /* -------------------- */
    /* ------ FOOTER ------ */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {

    /* ------- HEADER ------- */
    /* ---------------------- */

    .container_header,
    .container_header-home {
        padding: 15px 40px;
    }

    .container_header-home {
        display: flex;
        justify-content: end;
    }

    .logo {
        font-size: 1.1rem;
    }

    .all_menu li.active {
        background-color: black;
    }

    .all_menu li.active a {
        color: white;
    }

    .burger {
        display: none;
    }

    .all_menu {
        position: static;
        display: flex;
        justify-content: center;
        background: none;
        color: black;
        top: auto;
        width: auto;
        transition: none;
    }

    .all_menu a,
    .dropdown>span {
        color: black;
        font-size: 1rem;
    }

    .all_menu-home a,
    .dropdown>span {
        color: white;
        font-size: 1rem;
    }

    .all_menu ul {
        display: flex;
        gap: 10px;
    }

    .all_menu ul li {
        border-radius: 20px;
        width: 110px;
        padding: 8px;
        border: 1px solid black;
        position: relative;
    }

    .language,
    .language-home {
        display: flex;
        align-items: center;
    }

    /* Menu déroulant (dropdown) */
    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        display: none !important;
        position: absolute;
        left: 0;
        top: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: block !important;
    }

    .dropdown-menu li {
        padding: 10px;
        width: 200px;
        background-color: rgba(128, 128, 128, 0.1);
        padding: 10px;
        border: none !important;
    }

    .dropdown-menu li a {
        display: block;
        font-size: 1rem;
        text-align: center;
        color: black !important;
    }

    .dropdown-menu li a:hover {
        background-color: black;
        color: white !important;
    }

    .dropdown-menu li a:hover+li.contact,
    .contact.active {
        background-color: black;
    }

    .dropdown-menu li a:hover+li.contact a,
    .contact.active a {
        color: white;
    }

    .dropdown-menu li:nth-child(1) {
        min-width: 140px;
        margin-bottom: -8px;
        margin-top: 10px;
    }

    .dropdown-menu li:nth-child(2) {
        min-width: 160px;
    }

    .dropdown>span {
        display: block;
        cursor: pointer;
    }

    .dropdown.active {
        background-color: black;
    }

    .dropdown.active>span {
        color: white;
    }

    .dropdown:hover {
        background-color: black;
    }

    .dropdown:hover>span {
        color: white;
    }

    /* Affiche le menu déroulant si actif */
    .dropdown.active .dropdown-menu {
        display: block;
    }

    .all_menu ul li:hover {
        background-color: black;
    }

    .all_menu .language {
        border-radius: 50%;
        width: fit-content;
        display: flex;
        align-items: center;
        border: 1px solid black;
        background-color: black;
        padding: 10px;

        a {
            color: white;
        }
    }

    .all_menu .language:hover {
        background-color: white;

        a {
            color: black;
        }
    }

    .all_menu-home .language-home {
        border-radius: 50%;
        width: fit-content;
        display: flex;
        align-items: center;
        border: 1px solid black;
        background-color: white;
        padding: 10px;

        a {
            color: black;
        }
    }

    .all_menu-home .language-home:hover {
        border: 1px solid black;
        background-color: black;

        a {
            color: white;
        }
    }

    .language,
    .language-home {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        font-size: 1rem;
        color: white;
    }

    .language,
    .language-home a {
        color: inherit;
        text-decoration: none;
    }

    .language,
    .language-home:hover {
        background-color: white;
        color: black;
    }

    .language .language-home:hover a {
        color: inherit;
    }

    .all_menu .language:hover,
    .all_menu-home .language-home:hover {
        border: 1px solid black;
    }

    .mobile-only {
        display: none;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .all_footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 0 40px;
    }

    .title_footer,
    .mentions_footer h3 {
        color: white;
        margin: 0;
    }

    .name_footer {
        padding: 20px 40px 30px 0px;
    }

    .mentions_footer {
        padding: 20px 0px 30px 40px;
    }

    .name_footer {
        display: flex;
    }

    .mentions_footer {
        display: flex;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */

}





/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    /* ------- HEADER ------- */
    /* ---------------------- */

    .container_header {
        padding: 20px 80px 20px 80px;
    }

    .container_header-home {
        position: relative;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .logo h1 {
        display: block;
    }

    .image_homepage {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        z-index: -1;
    }

    .image_homepage img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }

    .header-wrapper,
    .header-wrapper-home {
        justify-content: end;
    }

    .all_menu-home {
        position: static;
        background-color: transparent;
        gap: 20px;
    }

    .logo {
        font-size: 1.2rem;
    }

    .logo_header {
        width: 50px;
        height: auto;
    }

    .all_logo {
        grid-column: span 4;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    label,
    #toggle {
        display: none;
    }

    .mobile-only-home {
        display: none;
    }

    .all_menu a {
        font-size: 1rem;
    }

    .all_menu ul {
        gap: 10px;
        display: flex;
    }

    .all_menu .language-home .all_menu-home .language-home {
        border-radius: 50%;
        width: fit-content;
    }

    .all_menu-home ul li:hover {
        background-color: white;
    }

    .all_menu ul li:hover a {
        color: white;
    }

    .all_menu-home ul li:hover a {
        color: black;
    }

    .all_menu-home ul li,
    .all_menu ul li {
        width: 120px;
        padding: 10px 12px;
    }

    .all_menu-home ul {
        display: flex;
        gap: 10px;
    }

    .all_menu-home ul li {
        border-radius: 20px;
        position: relative;
        border: 1px solid white;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */

    .all_footer {
        padding: 0 80px;
        max-width: 1500px;
        margin: 0 auto;
    }

    /* ---------------------- */
    /* ------- FOOTER ------- */

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    /* ------- HEADER ------- */
    /* ---------------------- */

    .all_menu ul {
        gap: 10px;
    }

    .all_menu-home ul {
        gap: 20px;
    }

    .all_menu-home ul li {
        padding: 10px 12px;
        width: 120px;
    }

    .all_menu-home a,
    .dropdown>span {
        font-size: 1rem;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
}