.contact.page-enter {
    animation: slideDown 0.8s ease-out forwards;
}

/* Start coding here */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    body {
        .title-page h1 {
            font-size: 1.5rem;
        }
    }

    .container_contact {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        column-gap: var(--gutter-width);
        row-gap: 20px;
        position: relative;
        padding: 30px 20px 0 20px;
    }

    .title-page {
        padding: 120px 20px 0 20px;
    }

    .border {
        border-bottom: 1px solid black;
        margin-top: 6px;
    }

    .address {
        grid-column: 1 / span 5;
        grid-row: auto;
    }

    .partners {
        padding-top: 20px;
    }

    .contact,
    .opening-hours,
    .payment-info,
    .shipping-info {
        grid-column: 1 / span 6;
        grid-row: auto;
    }

    .clients,
    .networks {
        grid-column: 1 / span 6;
        grid-row: auto;
    }

    #partners-list {
        list-style-type: none;
        margin: 10px 0;
        width: fit-content;
        background-color: rgba(255, 255, 255);
        margin-top: 0;
        display: none;
    }

    #partners-list li {
        color: gray;
    }

    #partners-list li a {
        text-decoration: none;
    }

    #partners-list li a:hover {
        color: black;
    }

    p {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #selected-partner {
        color: gray;
        cursor: pointer;
        display: block;
    }

    .column .column-1 {
        margin-bottom: 20px;
    }

    #selected-partner {
        display: inline;
    }

    .partners {
        position: relative;
    }

    #partners-list.visible {
        display: block;
    }

    #partners-list li {
        white-space: nowrap;
    }

    .client-item {
        position: relative;
        overflow: visible;
    }

    .client-name {
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    html[lang="en"] body .client-logo-container {
        position: absolute;
        top: 50%;
        left: 105%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        width: 100%;
        height: auto;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        z-index: 999;
    }
    
    html[lang="fr"] body .client-logo-container {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        width: 100%;
        height: auto;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        z-index: 999;
    }

    .client-item:hover .client-logo-container {
        opacity: 1;
    }

    .client-logo {
        width: 100%;
        max-width: 150px;
        height: auto;
        object-fit: contain;
        transition: transform 0.3s ease-in-out;
    }

    .client-item:hover .client-logo.client-logo-biribi-tattoo-shop {
        transform: rotate(3deg) scale(1.1);
    }

    .client-item:hover .client-logo.client-logo-gribouilleurz {
        transform: rotate(2deg) scale(1.1);
    }

    .client-item:hover .client-logo.client-logo-la-carpe-tattoo {
        transform: rotate(-4deg) scale(1.1);
    }

    .client-item:hover .client-logo.client-logo-lowcosterie {
        transform: rotate(-5deg) scale(1.1);
    }

    .client-item:hover .client-logo.client-logo-rene-la-muise {
        transform: rotate(-1deg) scale(1.1);
    }

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {

    .container_contact {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 30px 40px 0 40px;
    }

    .address,
    .contact,
    .opening-hours,
    .payment-info,
    .shipping-info,
    .clients,
    .networks {
        grid-column: 2 / span 10;
        gap: 2rem;
    }

    .title-page {
        padding: 120px 40px 0 40px;
    }

    p {
        display: block;
    }

    .networks {

        a {
            position: relative;
        }

        a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 0%;
            height: 1px;
            background-color: currentColor;
            transition: width 0.3s ease-in-out;
        }

        a:hover::after {
            width: 100%;
        }
    }

    html[lang="en"] body #partners-list {
        padding-left: 226px;
    }
    
    html[lang="fr"] body #partners-list {
        padding-left: 203px;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .container_contact {
        grid-template-columns: repeat(12, 1fr);
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 0;
    }

    .title-page {
        padding: 120px 80px 0 80px;
        max-width: 1500px;
        margin: 0 auto;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        min-height: calc(87vh);
    }

    body {
        overflow-y: hidden;
    }

    body[lang="fr"] .container_contact {
        grid-template-rows: 110px 110px 70px 65px;
    }

    body[lang="en"] .container_contact {
        grid-template-rows: 110px 110px 55px 65px;
    }

    html[lang="en"] body #partners-list {
        padding-left: 236px;
    }
    
    html[lang="fr"] body #partners-list {
        padding-left: 213px;
    }

    .address {
        grid-column: 2 / span 5;
        grid-row: 1;
        padding-top: 0;
    }

    .contact {
        grid-column: 2 / span 5;
        grid-row: 1;
    }

    .opening-hours {
        grid-column: 2 / span 5;
        grid-row: 2;
    }

    .payment-info {
        grid-column: 2 / span 5;
        grid-row: 3;
    }

    .shipping-info {
        grid-column: 2 / span 5;
        grid-row: 4;
    }

    .clients {
        grid-column: 8 / span 4;
        grid-row: 1;
    }

    .networks {
        grid-column: 8 / span 4;
        grid-row: 2;
        padding-top: 20px;
    }

    .clients,
    .networks {
        position: absolute;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    .address,
    .contact,
    .opening-hours,
    .payment-info,
    .shipping-info {
        grid-column: 2 / span 5;
    }

    .clients,
    .networks {
        grid-column: 8 / span 5;
    }

    .title-page {
        padding: 130px 80px 0 80px;
    }
}