h1,
h2 {
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
}

/* Start coding here */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    body {
        font-size: 1.1rem;

        .title-page h1 {
            font-size: 2.2rem;
        }
    }

    .container_contact {
        display: grid;
        grid-template-columns: repeat(12, 1fr); 
        grid-template-rows: auto; 
        column-gap: var(--gutter-width); 
        row-gap: 20px; 
        padding: 0 40px;
    }

    .title-page {
        grid-column: 1 / span 12;
    }

    .address {
        grid-column: 1 / span 11; 
        grid-row: auto;
    }

    .address {
        padding-top: 20px;
    }

    .contact,
    .opening-hours,
    .payment-info,
    .shipping-info {
        grid-column: 1 / span 11; 
        grid-row: auto;
    }

    .partners,
    .networks {
        grid-column: 1 / span 11; 
        grid-row: auto;
    }

    .border {
        border-bottom: 1px solid black;
        margin-top: 10px;
    }
    
    #partners-list {
        list-style-type: none;
        margin: 10px 0;
    }
    
    #partners-list li {
        color: gray;
    }
    
    #partners-list li a {
        text-decoration: none;
    }
    
    #partners-list li a:hover {
        color: black;
    }

    p {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
    }

    #selected-partner {
        color: gray;
        cursor: pointer;
        display: block; 
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    .address,
    .contact,
    .opening-hours,
    .payment-info,
    .shipping-info,
    .partners,
    .networks {
        grid-column: 2 / span 10;
        gap: 2rem; 
    }

    p {
        display: block; 
    }
    
    #selected-partner {
        display: inline; 
    }
    
    .partners {
        position: relative; 
    }

    #partners-list {
        position: absolute; 
        top: 70%; 
        width: fit-content; 
        background-color: rgba(255, 255, 255);
        padding-left: 232px;
        z-index: 10; 
        display: none; 
    }

    #partners-list.visible {
        display: block; 
    }

    #partners-list li {
        white-space: nowrap;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .container_contact {
        grid-template-columns: repeat(12, 1fr); 
        grid-template-rows: auto; 
        padding: 0 80px;
    }

    .address,
    .partners {
        padding-top: 20px;
    }

    .address {
        grid-column: 2 / span 5;
        grid-row: 2;
    }
    .contact {
        grid-column: 2 / span 5;
        grid-row: 3;
    }
    .opening-hours {
        grid-column: 2 / span 5;
        grid-row: 4;
    }
    .payment-info {
        grid-column: 2 / span 5;
        grid-row: 5;
    }
    .shipping-info {
        grid-column: 2 / span 5;
        grid-row: 6;
    }

    .partners {
        grid-column: 7 / span 5;
        grid-row: 2;
    }

    .networks {
        grid-column: 7 / span 5;
        grid-row: 3;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .address {
        grid-column: 2 / span 5;
        grid-row: 2;
    }
    .contact {
        grid-column: 2 / span 5;
        grid-row: 3;
    }
    .opening-hours {
        grid-column: 2 / span 5;
        grid-row: 4;
    }
    .payment-info {
        grid-column: 2 / span 5;
        grid-row: 5;
    }
    .shipping-info {
        grid-column: 2 / span 5;
        grid-row: 6;
    }

    .partners {
        grid-column: 8 / span 4;
        grid-row: 2;
    }
    .networks {
        grid-column: 8 / span 4;
        grid-row: 3;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    .address,
    .contact,
    .opening-hours,
    .payment-info,
    .shipping-info {
        grid-column: 2 / span 5;
    }

    .partners,
    .networks {
        grid-column: 8 / span 5;
    }
}
