h1,
h2 {
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
}

/* Start coding here */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    body {
        font-size: 1.1rem;

        .title-page h1 {
            font-size: 1.8rem;
        }
    }

    .container_devis {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        column-gap: var(--gutter-width);
        padding: 0 20px;
    }

    .title-page,
    .about-section,
    .about-image {
        grid-column: 1 / span 6;
    }

    .about-section {
        margin-top: 15px;

        p {
            padding-bottom: 15px;
        }
    }

    .about-image {
        max-width: 100%;
        height: auto;
        padding-top: 40px;
    }

    .border {
        border-bottom: 1px solid black;
        margin-top: 6px;
    }

    label {
        display: block; 
        margin-bottom: 10px;
        color: black; 
    }

    form {
        grid-column: 1 / span 6;
        margin-top: 30px;
    }
    
    form h2 {
        font-size: 1.3rem;
        color: #333;
        padding-bottom: 4px;
    }
    
    form label {
        display: block;
        margin-bottom: 8px;
    }

    #model,
    #background,
    #articles,
    #color,
    #to_print,
    #description,
    #name,
    #firstname,
    #email,
    #phone {
        width: 100%;
        border: 0.5px solid black;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 10px 10px;
        font-size: 1rem;
    }

    #files {
        padding-bottom: 50px;
    }
    
    form button {
        display: inline-block;
        padding: 10px 20px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 20px;
        width: 100%;
        box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
    form button:hover {
        background-color: white;
        color: black;
    }

    .icon-time {
        font-size: 0.7rem;
    }

    .fa-hourglass-start {
        padding-bottom: 10px;
        margin-right: 5px;
        color: black; 
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    .container_devis {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .about-image {
        grid-column: 2 / span 5;
    }

    .about-section {
        grid-column: 7 / span 5;
        padding-top: 40px;
        margin-top: 0;
    }

    .title-page {
        grid-column: 1 / span 12;
    }

    form {
        grid-column: 2 / span 7;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
}