h1,
h2 {
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
}

.page-enter {
    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Start coding here */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    body {
        .title-page h1 {
            font-size: 1.8rem;
        }
    }

    .container_devis {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        column-gap: var(--gutter-width);
        padding: 120px 20px 0 20px;
    }

    .form-section {
        display: flex;
        flex-direction: column;
    }

    .first {
        display: flex;
        flex-direction: column;
    }

    .title-page,
    .about-section,
    .about-image {
        grid-column: 1 / span 6;
    }

    .about-section {
        margin-top: 15px;
    }

    .about-image {
        max-width: 100%;
        height: auto;
        padding-top: 40px;
    }

    .border {
        border-bottom: 1px solid black;
        margin-top: 6px;
    }

    label {
        display: block; 
        margin-bottom: 10px;
        color: black; 
    }

    form {
        grid-column: 1 / span 6;
        margin-top: 30px;
        margin-bottom: 0;
    }
    
    form h2 {
        font-size: 1.3rem;
        color: #333;
        padding-bottom: 4px;
    }
    
    form label {
        display: block;
        margin-bottom: 8px;
    }

    #model,
    #background,
    #articles,
    #color,
    #to_print,
    #description,
    #name,
    #firstname,
    #email,
    #phone {
        width: 100%;
        border: 0.5px solid black;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 10px 10px;
        font-size: 1rem;
    }

    #files {
        padding-bottom: 50px;
    }
    
    .form-submit {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .form-submit button {
        padding: 10px 20px;
        background-color: black;
        color: white;
        border-radius: 15px;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.15);
        width: 100%;
        border: 1px solid black;
    }

    .form-submit button:hover {
        border: 1px solid black;
        background-color: white;
        color: black;
    }

    .icon-time {
        font-size: 0.7rem;
        margin-top: 5px;
    }

    .fa-hourglass-start {
        padding-bottom: 10px;
        margin-right: 5px;
        color: black; 
    }

    .legal-message {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: "Inter-Light", sans-serif;
        font-size: 0.7rem;
        margin: 20px 0 0 0;

        a {
            font-size: 0.7rem;
        }
    }
    
    input::placeholder,
    textarea::placeholder {
        font-family: "Inter-Italic", sans-serif;
        font-size: 0.9rem;
        color: #888;
        font-style: italic; 
    }

    input:focus,
    textarea:focus {
        outline: 2px solid #001f8d;
    }

    .devis_button {
        margin-top: 10px;
    }

    .devis_button a {
        width: 100%;
        border: 1px solid black;
        color: white !important;
        background-color: black;
        border-radius: 10px;
        padding: 8px 10px;
        margin: 15px 0 40px 0;
        font-size: 0.7rem;
        cursor: pointer;
    }

    .devis_button a:hover {
        border: 1px solid black;
        color: black !important;
        background-color: white;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    .container_devis {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 120px 40px 0 40px;
    }

    .about-image {
        grid-column: 2 / span 5;
    }

    .about-section {
        grid-column: 7 / span 5;
        padding-top: 40px;
        margin-top: 0;
    }

    .title-page {
        grid-column: 1 / span 12;
    }

    .first {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    form {
        grid-column: 2 / span 10;
    }

    .form-section-one {
        grid-column: 2 / span 5;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-section-two {
        grid-column: 6 / span 5;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-submit {
        margin-top: 0;
    }

    .form-submit button {
        width: 50%;
    }

    .legal-message {
        margin: 30px 150px 0 150px;
    }

    .devis_button{
    width: fit-content;
}
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .container_devis {
        padding: 120px 80px 0 80px;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 0;
    }
    
    .first {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        flex-direction: row;
    }

    .form-section {
        flex: 1;
    }

    .form-section h2 {
        font-size: 1.3rem;
        color: black;
        padding-bottom: 4px;
    }

    .form-section:first-child {
        flex-basis: 48%; 
    }

    .form-section:last-child {
        flex-basis: 48%; 
    }

    #files {
        padding-bottom: 30px;
    }

}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .legal-message {
        margin: 30px 250px 0 250px;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
}