.page-enter {
    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    body {
        background-color: #001f8d;

        .title-page h1 {
            font-size: 1.5rem;
        }
    }

    .container_gallery {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        column-gap: var(--gutter-width);
        row-gap: 20px; 
        grid-auto-flow: dense;
        padding: 30px 20px 0 20px;
        transition: grid-template-columns 0.3s ease;
    }

    .tags-desktop {
        padding: 0 20px;
    }

    .gallery-item {
        grid-column: span 5;
        transition: opacity 0.3s ease-in-out;
    }

    .gallery-item.hidden {
        display: none !important;
    }

    .gallery-item.hidden {
        opacity: 0;
    }

    .gallery-item[data-category] {
        display: block;
    }

    .tags-desktop {
        margin-top: 100px;
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: row;
        gap: 5px;

        p {
            color: white;
        }
    }

    .gallery-item {
        display: block;
    }

    .custom-button {
        background-color: transparent;
        color: white;
        font-weight: 600;
        font-size: 0.7rem;
        border: none;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: filter 0.3s ease, transform 0.3s ease;
    }

    .custom-button {
        filter: none;
    }

    .custom-button:hover {
        filter: none;
        transform: scale(1.05);
        background-color: transparent;
        border: none;
        color: white;
    }

    .custom-button:hover~.custom-button {
        filter: blur(3px);
    }

    .custom-button:focus,
    .custom-button:active {
        border: none !important;
    }

    .gallery-item img {
        width: 100%;
        height: auto;
    }

    .gallery-item p {
        color: white;
        padding-bottom: 30px;
        padding: 6px;
        text-decoration: underline;
        font-size: 0.7rem;
        font-style: italic;
    }

    .mobile-dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        z-index: 10;
    }

    .dropdown-menu.active {
        display: block;
    }

    .dropdown-checkbox {
        display: none;
    }

    .dropdown-checkbox:checked+.dropdown-menu {
        display: block;
    }

    .gallery-item {
        grid-column: 1 / span 6;
    }

}

/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    .container_gallery {
        padding: 40px 0;
    }

    .custom-button {
        font-size: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(12, 1fr);
        padding: 30px 40px 0 40px;
    }

    .tags-desktop {
        grid-row: 1;
        justify-content: start;
        gap: 10px;
        padding: 0 40px;
    }

    .gallery-item:nth-child(odd) {
        grid-column: 1 / span 6;
    }

    .gallery-item:nth-child(even) {
        grid-column: 7 / span 6;
    }
}

/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .tags-desktop {
        display: none;
    }

    .desktop-only {
        display: flex;
    }

    .container_gallery {
        margin-top: 0;
        max-width: 1500px;
        margin: 0 auto;
    }

    .gallery {
        padding: 20px 80px 0 80px;
    }

    .tags-desktop {
        grid-column: span 12;
        padding: 0 80px;
        margin-top: 80px;
    }

    .gallery-item:nth-child(odd) {
        grid-column: 2 / span 5;
    }

    .gallery-item:nth-child(even) {
        grid-column: 7 / span 5;
    }
}

/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .tags-desktop {
        margin-top: 100px;
    }
}