.page-enter {
    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    body {
        background-color: #001f8d;

        .title-page h1 {
            font-size: 1.5rem;
        }
    }

    .container_gallery {
        padding: 30px 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: auto;
        column-gap: var(--gutter-width);
        row-gap: 20px;
        padding: 90px 20px 0 20px;
    }

    .gallery-item[data-category] {
        display: block;
    }

    .tags-desktop {
        grid-column: 1 / span 6;
        grid-row: 1 / span 1;
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: row;
        gap: 5px;

        p {
            color: white;
        }
    }

    .gallery-item {
        display: block; 
    }

    .custom-button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: 600;
        font-size: 0.7rem;
    }

    .custom-button:hover {
        text-decoration: underline;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
    }

    .gallery-item {
        width: 100%;
        height: auto;
    }

    .gallery-item img {
        width: 100%;
    }

    .gallery-item p {
        color: white;
        padding-bottom: 30px;
        padding: 6px;
        text-decoration: underline;
        font-size: 0.7rem;
        font-style: italic;
    }

    .gallery-item.column-1 {
        grid-column: 1 / span 6;
        grid-row: 2 / span 1;
    }

    .gallery-item.column-2 {
        grid-column: 1 / span 6;
        grid-row: 3 / span 1;
    }

    .gallery-item.column-3 {
        grid-column: 1 / span 6;
        grid-row: 4 / span 1;
    }

    .gallery-item.column-4 {
        grid-column: 1 / span 6;
        grid-row: 5 / span 1;
    }

    .gallery-item.column-4 {
        grid-column: 1 / span 6;
        grid-row: 6 / span 1;
    }

    .gallery-item.column-5 {
        grid-column: 1 / span 6;
        grid-row: 7 / span 1;
    }

    .gallery-item.column-6 {
        grid-column: 1 / span 6;
        grid-row: 8 / span 1;
    }

    .gallery-item.column-7 {
        grid-column: 1 / span 6;
        grid-row: 9 / span 1;
    }

    .gallery-item.column-8 {
        grid-column: 1 / span 6;
        grid-row: 10 / span 1;
    }

    .gallery-item.column-9 {
        grid-column: 1 / span 6;
        grid-row: 11 / span 1;
    }

    .gallery-item.column-10 {
        grid-column: 1 / span 6;
        grid-row: 12 / span 1;
    }

    .gallery-item.column-11 {
        grid-column: 1 / span 6;
        grid-row: 13 / span 1;
    }

    .mobile-dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-menu {
        display: none;
        position: absolute;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        z-index: 10;
    }

    .dropdown-menu.active {
        display: block;
    }
    
    .dropdown-checkbox {
        display: none; 
    }
    
    .dropdown-checkbox:checked + .dropdown-menu {
        display: block;
    }
    
}

/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    .container_gallery {
        padding: 40px 40px 0 40px;
    }

    .gallery-item {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(12, 1fr); 
        padding: 80px 40px 0 40px;
    }

    .tags-desktop {
        grid-row: 1;
        justify-content: start;
        gap: 10px;
    }

    /* .gallery-item.column-1 {
        grid-column: 8 / span 5;
        grid-row: 1;
        margin-top: 300px;
    }

    .gallery-item.column-2 {
        grid-column: 5 / span 5; 
        grid-row: 1;
        margin-top: 100px;
    }

    .gallery-item.column-3 {
        grid-column: 8 / span 5;
        grid-row: 2; 
    }

    .gallery-item.column-4 {
        grid-column: 1 / span 5;
        grid-row: 2;
        margin-top: 200px;
    }

    .gallery-item.column-5 {
        grid-column: 8 / span 5;
        grid-row: 3; 
    }

    .gallery-item.column-6 {
        grid-column: 1 / span 5;
        grid-row: 3; 
        margin-top: 100px;
    }

    .gallery-item.column-7 {
        grid-column: 8 / span 5;
        grid-row: 5; 
        margin-top: 100px;
    }

    .gallery-item.column-8 {
        grid-column: 1 / span 5;
        grid-row: 5; 
    }

    .gallery-item.column-9 {
        grid-column: 1 / span 5;
        grid-row: 7; 
    }

    .gallery-item.column-10 {
        grid-column: 8 / span 5;
        grid-row: 7; 
        margin-top: 200px;
    }

    .gallery-item.column-11 {
        grid-column: 1 / span 5;
        grid-row: 7;
        margin-top: 500px; 
    } */

    .gallery-item.column-1 {
        grid-column: 1 / span 5;
        grid-row: 2;
    }

    .gallery-item.column-2 {
        grid-column: 8 / span 5; 
        grid-row: 2;
    }

    .gallery-item.column-3 {
        grid-column: 1 / span 5;
        grid-row: 3; 
    }

    .gallery-item.column-4 {
        grid-column: 8 / span 5;
        grid-row: 3;
        }

    .gallery-item.column-5 {
        grid-column: 1 / span 5;
        grid-row: 4; 
    }

    .gallery-item.column-6 {
        grid-column: 8 / span 5;
        grid-row: 4; 
    }

    .gallery-item.column-7 {
        grid-column: 1 / span 5;
        grid-row: 5; 
    }

    .gallery-item.column-8 {
        grid-column: 8 / span 5;
        grid-row: 5; 
    }

    .gallery-item.column-9 {
        grid-column: 1 / span 5;
        grid-row: 6; 
    }

    .gallery-item.column-10 {
        grid-column: 8 / span 5;
        grid-row: 6; 
    }

    .gallery-item.column-11 {
        grid-column: 1 / span 5;
        grid-row: 7;
    }
}

/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .tags-desktop {
        display: none;
    }

    .desktop-only {
        display: flex;
    }

    .container_gallery {
        margin-top: 0;
        max-width: 1500px;
        margin: 0 auto;
    }

    .gallery {
        padding: 80px 80px 0 80px;
    }

    /* .gallery-item.column-1 {
        grid-column: 1 / span 5;
        grid-row: 1;
        margin-top: 300px;
    }

    .gallery-item.column-2 {
        grid-column: 8 / span 5; 
        grid-row: 1;
        margin-top: 50px;
    }

    .gallery-item.column-3 {
        grid-column: 8 / span 5;
        grid-row: 1;
        margin-top: 500px;
    }

    .gallery-item.column-4 {
        grid-column: 1 / span 5;
        grid-row: 2;
        margin-top: 0;
    }

    .gallery-item.column-5 {
        grid-column: 8 / span 5;
        grid-row: 2;
        margin-top: 100px; 
    }

    .gallery-item.column-6 {
        grid-column: 1 / span 5;
        grid-row: 4; 
    }

    .gallery-item.column-7 {
        grid-column: 8 / span 5;
        grid-row: 4; 
    }

    .gallery-item.column-8 {
        grid-column: 1 / span 5;
        grid-row: 6; 
        margin-top: 100px;
    }

    .gallery-item.column-9 {
        grid-column: 8 / span 5;
        grid-row: 6; 
    }

    .gallery-item.column-10 {
        grid-column: 1 / span 5;
        grid-row: 7; 
        margin-top: 100px;
    }

    .gallery-item.column-11 {
        grid-column: 8 / span 5;
        grid-row: 7;
        margin-top: 300px; 
    } */
}

/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    /* .gallery-item.column-1 {
        grid-column: 1 / span 5;
        grid-row: 1;
        margin-top: 300px;
    }

    .gallery-item.column-2 {
        grid-column: 8 / span 5; 
        grid-row: 1;
        margin-top: 50px;
    }

    .gallery-item.column-3 {
        grid-column: 8 / span 5;
        grid-row: 1;
        margin-top: 800px;
    }

    .gallery-item.column-4 {
        grid-column: 1 / span 5;
        grid-row: 2;
        margin-top: 0;
    }

    .gallery-item.column-5 {
        grid-column: 8 / span 5;
        grid-row: 2;
        margin-top: 100px; 
    }

    .gallery-item.column-6 {
        grid-column: 1 / span 5;
        grid-row: 4; 
    }

    .gallery-item.column-7 {
        grid-column: 8 / span 5;
        grid-row: 4; 
    }

    .gallery-item.column-8 {
        grid-column: 1 / span 5;
        grid-row: 6; 
        margin-top: 100px;
    }

    .gallery-item.column-9 {
        grid-column: 8 / span 5;
        grid-row: 6; 
        margin-top: 100px;
    }

    .gallery-item.column-10 {
        grid-column: 1 / span 5;
        grid-row: 7; 
        margin-top: 100px;
    }

    .gallery-item.column-11 {
        grid-column: 8 / span 5;
        grid-row: 7;
        margin-top: 300px; 
    } */
}

/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    .gallery {
        padding: 90px 80px 0 80px;
    }
}
