/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    .container_homepage {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        flex: 1 0 auto;
    }

    .all_logo_homepage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .all_logo_homepage img {
        display: flex;
        justify-content: center;
        max-width: 300px;
    }

    .about {
        padding-top: 25px;
        text-align: center;

        h1 {
            font-size: 2rem;
            font-weight: normal;
            padding-bottom: 10px;
        }

        p {
            padding-bottom: 25px;
        }
    }

    .contact {
        padding-top: 25px;
    }

    .network-icon {
        display: inline-block;
        font-size: 1.8em;
        margin-right: 10px;
    }

    .network-item .network-icon.fa-facebook {
        margin: 0 !important;
    }

    .network-text {
        display: none;
    }

    .foot {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .social-networks {
        display: flex;
        justify-content: end;
    }

}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    .container_homepage {
        width: 50vw;
    }

    .all_logo_homepage img {
        max-width: 500px;
    }

    .about {
        padding-top: 0;

        p {
            padding-bottom: 0;
        }
    }

    .contact {
        padding-top: 0;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    .container_homepage {
        padding: 0 110px 0 110px;
        min-height: calc(68vh);
    }

    .all_logo_homepage {
        padding-top: 25px;
    }

    .about {
        padding-top: 25px;

        p {
            padding-bottom: 0;
        }
    }

    .contact {
        p {
            margin-bottom: 0;
        }
    }

    .foot {
    width: 40vw;
    position: absolute;
    bottom: 50;
    left: 110;
    }

    .social-networks {
        flex-direction: column;
    }

    .network-icon.fa-facebook,
    .network-icon.fa-instagram {
        display: none;
    }

    .network-text {
        display: flex;
        flex-direction: column;
    }
}