.page-enter {
    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 0.8s ease-out forwards;
}

strong {
    font-family: "Inter-Semibold";
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Start coding here */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    body {
        .title-page h1 {
            font-size: 1.5rem;
        }
    }

    .container_mentions {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: var(--gutter-width);
        padding: 30px 20px 0 20px;
    }

    .border {
        border-bottom: 1px solid black;
        margin-top: 6px;
    }

    .legal-notice {
        grid-column: 1 / span 6;
    }

    .title-page {
        padding: 120px 20px 0 20px;
}

.column-1 {
    padding-bottom: 15px;
}
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {

    .container_mentions {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--gutter-width);
        padding: 30px 40px 0 40px;
    }

    .title-page {
        padding: 120px 40px 0 40px;
    }

    .legal-notice {
        grid-column: 2 / span 10; 
        gap: 2rem; 
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .container_mentions {
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 0;
    }

    .title-page {
        padding: 120px 80px 0 80px;
        max-width: 1500px;
        margin: 0 auto;
    }

    .legal-notice {
        gap: 6rem; 
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        min-height: calc(87vh);
    }
    
    body {
        overflow-y: hidden;
    }

    .legal-notice {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 7rem; 
    }
}





/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    .title-page {
        padding: 130px 80px 0 80px;
    }
}