h1,
h2 {
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
}

/* Start coding here */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    body {
        font-size: 1.1rem;

        .title-page h1 {
            font-size: 2.2rem;
        }
    }

    .container_mentions {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: var(--gutter-width);
        padding: 0 20px;
    }

    .title-page {
        grid-column: 1 / span 6;
    }

    .border {
        border-bottom: 1px solid black;
        margin-top: 6px;
    }

    .legal-notice {
        padding-top: 40px;
        grid-column: 1 / span 5;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    .container_mentions {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--gutter-width);
        padding: 0 40px 0 40px;
    }

    .title-page {
        grid-column: 1 / span 12;
    }

    .legal-notice {
        grid-column: 2 / span 10; 
        gap: 2rem; 
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .container_mentions {
        padding: 0 80px 0 80px;
    }

    .legal-notice {
        grid-column: 2 / span 10; 
        gap: 6rem; 
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .legal-notice {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 7rem; 
    }
}





/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

}